body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #fafafa;
    color: #333;
  }

  h1, h2 {
    text-align: center;
  }

  p {
    max-width: 800px;
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
.hero-image {
  height: 100vh;               
  display: flex;
  justify-content: center;     
  align-items: center;         
}

.hero-image img {
  max-width: 80%;
  border-radius: 10px;
}


.image-row {
  text-align: center;
  margin-top: 20px;
}

.image-row img {
  width: 300px;
  margin: 10px;
  border-radius: 8px;
}